

<!-- local_boardz_admin/attribute -->
<div class="boardz-attribute-list">
    {{#attributes}}
    <div class="boardz-attribute {{class}}">
        <div class="boardz-attribute-name">
        {{name}}
        </div>
        <div class="boardz-attribute-value">
        {{{value}}}
        </div>
    </div>
    {{/attributes}}
</div>
<!-- local_boardz_admin/attribute -->