


<!-- local_boardz_admin/backtomainlink -->
<center>
<div><a class="btn" href="/local/boardz_admin/index.php">{{#str}}adminmenu, local_boardz_admin{{/str}}</a></div>
</center>
<!-- /local_boardz_admin/backtomainlink -->