


<!-- local_admin_boardz/entitylistform -->
<div id="view-form">
    <form action="{{{actionurl}}}">
        <div id="entity-filter-form" style="display:inline-block;">
        <input type="hidden" name="view" value="{{view}}">
        {{#str}}name, local_boardz_admin{{/str}} <input type="text" name="fname" value="{{fname}}">
        {{#str}}classname, local_boardz_admin{{/str}} <input type="text" name="fclassname" value="{{fclassname}}">
        {{#str}}attr, local_boardz_admin{{/str}} <input type="text" name="fattr" value="{{fattr}}"> = <input type="text" name="fattrvalue" value="{{fattrvalue}}">
        &nbsp;&nbsp;&nbsp;&nbsp;{{#str}}tags, local_boardz_admin{{/str}} <input type="text" name="ftags" value="{{ftags}}">
        <input type="submit" value="{{#str}}filter, local_boardz_admin{{/str}}">
        </div>
        <div id="drop-entity" style="display:inline-block;float:right">
            <i id="entity-drop-button" class="fa fa-eyedropper" title="{{#str}}dropentity, local_boardz_admin{{/str}}"></i>
            <div id="entity-drop-from" class="local-boardz-admin-hide">
                <h3>{{#str}}dropin, local_boardz_admin{{/str}}</h3>
                <form name="entitydropform">
                    <textarea name="entityimportdata" rows="3" cols="30">
                    </textarea>
                    <imput type="button" id="entity-import-button" name="goimport" value="{{#str}}doimport, local_boardz_admin{{/str}}">
                </form>
            </div>
        </div>
    </form>
</div>
<!-- /local_admin_boardz/entitylistform -->